<section *ngIf="posts$ | async as posts">
    <table mat-table [dataSource]="posts">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let post" class="text-align-right">{{ post.id }}</td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let post">{{ post.category.name }}</td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Created At</th>
            <td mat-cell *matCellDef="let post">{{ (post.createdAt * 1000) | date:'yyyy-MM-dd' }}</td>
        </ng-container>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let post">{{ post.title }}</td>
        </ng-container>
        <ng-container matColumnDef="isDraft">
            <th mat-header-cell *matHeaderCellDef>Is Draft</th>
            <td mat-cell *matCellDef="let post" class="text-align-center">
                {{ post.isDraft ? 'O' : ''}}
            </td>
        </ng-container>
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef>Author</th>
            <td mat-cell *matCellDef="let post" [ngClass]="{'no-author text-align-center': !post.author?.name}">
                {{  post.author?.name || '-' }}
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Remove</th>
            <td mat-cell *matCellDef="let post">
                <button [attr.data-post-id]="post.id" class="trash-can" mat-icon-button (click)="onDeleteClicked($event, post.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row.id)"></tr>
    </table>
</section>
