.with-profile-pic img {
  float: right; /* Float the image to the right side */
  margin-right: 10px; /* Add some space to the right of the image */
  margin-bottom: 10px; /* Add some space below the image */
}
