<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="onToggleButtonClicked()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{ title }}</h1>
    <span class="flex-spacer"></span>

    <ng-container *ngIf="isLoggedIn; else loggedOut">
        <a mat-icon-button routerLink="/posts/new" matTooltip="Create a new post..."><mat-icon>note_add</mat-icon></a>
        <a mat-icon-button routerLink="/account/logout" matTooltip="Logout"><mat-icon>logout</mat-icon></a>
    </ng-container>
    <ng-template #loggedOut>
        <a mat-icon-button routerLink="/account/login" matTooltip="Login"><mat-icon>login</mat-icon></a>
    </ng-template>
</mat-toolbar>
