<mat-sidenav-container class="sidenav-container"
                       [style.marginTop.px]="mobileQueryMatches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQueryMatches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQueryMatches" fixedTopGap="56">
        <app-side-nav-list></app-side-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <section class="router-wrapper">
            <router-outlet/>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>
