<form clrForm class="post-input-wrapper" [formGroup]="form">
  <section class="buttons">
    <div class="input-group">
      <div class="btn-group">
        <button class="btn btn-success-outline">Save</button>
        <button class="btn">Cancel</button>
      </div>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox formControlName="publish" id="draft">
        <label for="draft">Draft</label>
      </clr-checkbox-wrapper>
    </div>
  </section>
  <section class="text">
    <div class="title-wrapper" [ngClass]="{'clr-error': inputControlError('title')}">
      <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
      <input id="title" class="clr-input" formControlName="title" placeholder="Title...">
      <app-error-message [error]="inputControlError('title')"></app-error-message>
    </div>
    <app-tags (tags)="getTags($event)" [tagDelimiters]="[',', ';']"></app-tags>
    <div class="markdown-wrapper">
      <div class="hint-container">
        <textarea id="markdown-input"
                  class="clr-textarea"
                  required
                  formControlName="markdown"
                  placeholder="Enter blog text here... (markdown)"
        ></textarea>
        <div class="hint-button-right">
          <span><a class="hint label clickable label-orange" href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Markdown Cheatsheet</a></span>
        </div>
      </div>
      <markdown
        class="markdown-viewer"
        [data]="(markdownData$ | async)"
        clipboard
      ></markdown>
    </div>
  </section>
</form>

