:host {
  display: flex;
  justify-content: center;
}

.login-wrapper{
  width: 350px;
}

.password-wrapper,
.username-wrapper {
  width: 100%;
}

.remember-me,
.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
