<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <!-- These could be heading elements. -->
            <div class="welcome">My Blog Site</div>
            <div class="hint">Admin Only</div>
        </section>
        <form class="login-group" [formGroup]="form">
                <label>E-mail</label>
                <input
                        type="text"
                        autocomplete="username"
                        name="username"
                        placeholder="Enter e-mail"
                        formControlName="username"
                />
                <label>Password</label>
                <input
                        type="password"
                        autocomplete="current-password"
                        name="password"
                        placeholder="Enter password"
                        formControlName="password"
                />
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe" formControlName="rememberMe"/>
            <div class="error active">Invalid user name or password</div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </form>
</div>
