<section (keydown)="handleKeyOnModal($event)">
    <app-upload [postId]="postId" (fileUpload)="onFileUploaded($event)"></app-upload>
    <div class="thumbnail-container">
        <app-thumbnail
            *ngFor="let thumbnailUrl of thumbnailUrlList; index as i"
            [imageUrl]="thumbnailUrl"
            (remove)="onRemovalTriggered(i)"
            (openModal)="onThumbnailClicked(i)"
        >
        </app-thumbnail>
    </div>

    <app-thumbnail-modal
        [thumbnailUrl]="thumbnailUrl"
        [(open)]="isModalOpen"
    ></app-thumbnail-modal>
</section>
