<header class="header-6">
  <div class="branding">
    <a href="..." class="nav-link">
      <cds-icon shape="cloud" solid="true" badge="success"></cds-icon>
      <span class="title">Clarity Design</span>
    </a>
  </div>
  <div class="header-nav">
    <a href="..." class="active nav-link" aria-current="page"><span class="nav-text">Dashboard</span></a>
    <a href="..." class="nav-link"><span class="nav-text">Interactive Analytics</span></a>
  </div>
  <div class="header-actions">
    <a href="..." class="nav-link nav-icon" aria-label="settings">
      <cds-icon shape="cog"></cds-icon>
    </a>
  </div>
</header>

<div class="content-container nav-trigger--bottom">
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="collapsed" (click)="toggleCollapse()">
    <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
      <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
      Normal
    </a>
    <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
      <cds-icon clrVerticalNavIcon shape="bolt"></cds-icon>
      Electric
    </a>
    <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
      <cds-icon clrVerticalNavIcon shape="sad-face"></cds-icon>
      Poison
    </a>
    <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
      <cds-icon clrVerticalNavIcon shape="bug"></cds-icon>
      Grass
    </a>
    <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
      <cds-icon clrVerticalNavIcon shape="shield"></cds-icon>
      Fighting
    </a>
    <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
      <cds-icon clrVerticalNavIcon shape="certificate"></cds-icon>
      Credit
    </a>
  </clr-vertical-nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
