<div class="post-input-wrapper">
  <section class="buttons">
    <app-buttons
      (isDraft)="setDraft($event)"
      (save)="onSaveClicked()"
      (cancel)="onCancelClicked()">
    </app-buttons>
  </section>

  <section class="text">
    <app-title (title)="onTitleUpdated($event)"></app-title>
    <app-categories (category)="onCategorySelected($event)" [categories]="categories$ | async"></app-categories>
    <div>
      <p>Image upload</p>
      <input type="file" (change)="onFileSelected($event)">
      <button (click)="upUploadButtonClicked()">Upload</button>
    </div>
    <app-tags (tags)="onTagsUpdated($event)" [tagDelimiters]="[',', ';']"></app-tags>
    <div class="markdown-wrapper">
      <app-editor (text)="onBodyUpdated($event)"></app-editor>
      <markdown
        class="markdown-viewer"
        [data]="(markdownData$ | async)"
        clipboard
      ></markdown>
    </div>
  </section>
</div>
