<ng-container *ngIf="post$ | async as post; else loading">
    <mat-card class="post-container">

        <mat-card-header>
            <mat-card-title>{{ post.title }}</mat-card-title>
            <mat-card-subtitle *ngIf="post.updatedAt && post.updatedAt !== post.createdAt">
                Updated at: {{ post.updatedAt * 1000 | date:'yyyy/MM/dd' }}
            </mat-card-subtitle>
        </mat-card-header>

        <div class="hero-image-container" *ngIf="post.mainImage">
            <img class="hero-image" [src]="getImageUrl(post.mainImage)"
                 [alt]="'Main image of ' + post.title"/>
        </div>

        <mat-card-content>
<!--            <div *ngIf="post.createdAt && post.author as author" class="post-metadata">-->
<!--                <div class="author-image-container">-->
<!--                    <img [src]="author.profileImage" [alt]="'Profile image of ' + author.name" class="author-image" />-->
<!--                </div>-->
<!--                <div class="author-details">-->
<!--                    <div class="author-name">{{ author.name }}</div>-->
<!--                    <div class="additional-info">-->
<!--                        <div class="post-category">Category: {{ post.category?.name }}</div>-->
<!--                        <div class="post-tags">-->
<!--                            <mat-chip *ngFor="let tag of post.tags" class="tag-chip">{{ tag }}</mat-chip>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <markdown class="markdown-viewer" [data]="post.body" clipboard></markdown>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="warn" (click)="editPost()">Edit</button>
        </mat-card-actions>

    </mat-card>
</ng-container>

<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
    Loading...
</ng-template>
