<div *ngIf="post$ | async as post; else loading" class="post-container">
    <button (click)="editPost()" class="btn btn-danger-outline">Edit</button>
    <h1>{{ post.title }}</h1>
    <img *ngIf="post.mainImage" class="main-image" [src]="getImageUrl(post.mainImage)" [alt]="'Main image of ' + post.title"/>

    <div
        *ngIf="post.updatedAt && post.updatedAt !== post.createdAt"
        class="updated-at"
    >
        Updated at: {{ post.updatedAt * 1000 | date:'yyyy/MM/dd' }}
    </div>
    <div *ngIf="post.author as author">
        Written by {{ author.name }}
        <img
            [src]="author.profileImage"
            [alt]="'Profile image of ' + author.name"
            class="user-profile-image"
        />
    </div>
    <div *ngIf="post.createdAt && !post.updatedAt" class="created-at">Created at: {{ post.createdAt * 1000 | date:'yyyy/MM/dd' }}</div>
    <h6 *ngIf="post.category">Category: {{ post.category }}</h6>
    <div *ngIf="post.tags.length > 0" class="tag-container">
        <span *ngFor="let tag of post.tags" class="label label-info">{{ tag }}</span>
    </div>

    <markdown
            class="markdown-viewer"
            [data]="post.body"
            clipboard
    ></markdown>
    <hr/>
    <pre> {{ post | json }}</pre>
</div>
<ng-template #loading>
    <span class="spinner spinner-inline">Loading...</span>
    <span>Loading...</span>
</ng-template>
