<div class="card">
    <input type="file" id="fileInput" #fileInput style="display:none;" (change)="onFileSelected($event)">

    <div class="dropzone cursor-pointer"
         [class.mat-elevation-z4]="isDragOver"
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event)"
         (click)="triggerFileInput()"
    >
        <mat-icon>cloud_upload</mat-icon>
        <p>Drag and drop an image or click the button below to browse your files.</p>
        <button mat-raised-button color="primary">Browse File</button>
    </div>
</div>
