.dropzone {
  border: 2px dashed #ccc;
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 36px;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.2s ease-in-out;
}

.dropzone:hover,
.dropzone.dragover {
  background-color: #00000033;
}

mat-card-content {
  // Custom styles for the card content if needed
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
