<clr-datagrid *ngIf="posts$ | async as ps">
    <clr-dg-column>Post ID</clr-dg-column>
    <clr-dg-column>Title</clr-dg-column>
    <clr-dg-column>Author</clr-dg-column>
    <clr-dg-column>Created At</clr-dg-column>
    <clr-dg-column>Updated At</clr-dg-column>
    <pre>{{ ps }}</pre>

    <clr-dg-row *ngFor="let p of ps" (click)="showPost(p)">
        <clr-dg-cell>{{ p.id || 'n/a' }}</clr-dg-cell>
        <clr-dg-cell>{{ p.title }}</clr-dg-cell>
        <clr-dg-cell>{{ p.author?.name || 'anonymous'}}</clr-dg-cell>
        <ng-container *ngIf="p.createdAt; else unavailable">
            <clr-dg-cell>{{ p.createdAt * 1000 | date }}</clr-dg-cell>
        </ng-container>
        <ng-container *ngIf="p.updatedAt; else unavailable">
            <clr-dg-cell>{{ (p.updatedAt * 1000 | date) }}</clr-dg-cell>
        </ng-container>
        <ng-template #unavailable>
            <clr-dg-cell>Not Available</clr-dg-cell>
        </ng-template>
    </clr-dg-row>

    <clr-dg-footer>{{ ps.length }} posts</clr-dg-footer>
</clr-datagrid>
