<div class="hint-container">
    <mat-form-field>
        <mat-label>Edit your blog post</mat-label>
        <textarea id="markdown-input"
                  matInput
                  #textarea
                  (blur)="saveCursorLocation()"
                  (drop)="preventDefault($event)"
                  required
                  [formControl]="textInputFormControl"
                  placeholder="Blah blah..."
        ></textarea>
    </mat-form-field>
    <app-error-message [error]="inputControlError()"></app-error-message>
    <div class="hint-button-right">
    <span>
      <a class="hint label clickable label-orange" href="https://www.markdownguide.org/cheat-sheet/"
         target="_blank">Markdown Cheatsheet</a>
    </span>
    </div>
</div>
