.hint-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  textarea {
    height: 100%;
  }

  .hint-button-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .hint {
    margin-top: 5px;
  }
}

#markdown-input {
  font-size: 18px;
}
