// Material Icons & Roboto Fonts are part of Angular Material Package.
// To serve Material Icons from local server
@import 'node_modules/material-icons/iconfont/material-icons.css';

// To serve Material Roboto fonts from local server
@import 'node_modules/@fontsource/roboto/300.css';
@import 'node_modules/@fontsource/roboto/300-italic.css';
@import 'node_modules/@fontsource/roboto/400.css';
@import 'node_modules/@fontsource/roboto/400-italic.css';
@import 'node_modules/@fontsource/roboto/500.css';
@import 'node_modules/@fontsource/roboto/500-italic.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// End of Angular Material Config

.margin-top {
  margin-top: 16px;
}

.horizontal-padding {
  margin-left: 16px;
  margin-right: 16px;
}

.flex-spacer {
  flex: 1 1 auto;
}

// Rotate Infinitely
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-infinite:hover {
  cursor: pointer;
  animation: rotate360 2s linear infinite;
}

// Global Markdown Image Styling
.markdown-viewer {
  img {
    width: 100%;
    height: auto;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.highlight-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #333;
}

.animate-click {
  // Applicable to elements with attribute of display: block
  transition: transform 0.05s ease;
  &:active {
    transform: translate(1px, 1px);
  }
}

.text-no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                         supported by Chrome, Edge, Opera and Firefox */
}
