html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.margin-top {
  margin-top: 16px;
}

.horizontal-padding {
  margin-left: 16px;
  margin-right: 16px;
}

.flex-spacer {
  flex: 1 1 auto;
}

// Rotate Infinitely
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-infinite:hover {
  cursor: pointer;
  animation: rotate360 2s linear infinite;
}

// Global Markdown Image Styling
.markdown-viewer {
  img {
    width: 100%;
    height: auto;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.text-no-select {
  -webkit-touch-callout: none;  /* iOS Safari */
  -webkit-user-select: none;    /* Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -moz-user-select: none;       /* Old versions of Firefox */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  user-select: none;            /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}
