.image-container {
  position: relative;
  max-height: 120px;
  max-width: 120px;

  &:hover {
    cds-icon {
      opacity: 1;
      cursor: pointer;
    }
  }

  cds-icon {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;

    &:active {
      translate: 1px 1px;
    }
  }
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.1);
    border: 2px solid #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
